/* ===== GERAL ===== */
body {
    font-family: Arial, sans-serif;
    margin: 18px 22px;
    color: #1a1a1a;
    font-size: 11px;
    line-height: 1.05;
}

/* ===== BARRA SUPERIOR ===== */
.topbar {
    background-color: #243881;
    color: white;
    padding: 12px 16px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.logo-st {
    width: 130px;
    float: right;
    margin-top: -5px;
}

.topbar-title {
    font-size: 18px;
    margin: 0;
    line-height: 1.1;
}

.topbar-subtitle {
    font-size: 12px;
    margin-top: 3px;
    opacity: 0.9;
}

.topbar-info {
    margin: 3px 0 0;
    font-size: 11px;
}

/* ===== SEÇÃO TÍTULOS COM LINHA AZUL ===== */
.section-title {
    border-left: 4px solid #243881;
    padding-left: 8px;
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #243881;        /* Texto azul */
    display: flex;
    align-items: center;
}

.section-title img {
    width: 14px;
    margin-right: 6px;
}

/* ===== TABELA STATUS OPERANDO ===== */
.status-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 12px;
}

.status-table th, .status-table td {
    border: 1px solid #ccc;
    padding: 3px 4px;
    font-size: 10px;
}

.status-table th {
    background-color: #f3f5fa;
    color: #243881;
    font-weight: bold;
}

/* ===== TABELAS DE SISTEMA ===== */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 3px 4px;
    font-size: 10px;
}

th {
    background-color: #243881 !important;  /* Azul Stellantis */
    color: white !important;               /* Texto branco */
    font-weight: bold;
}


/* Alternância */
tbody tr:nth-child(even) {
    background-color: #f2f4f8;
}

.icon-status {
    width: 12px;
}

/* ===== RODAPÉ ===== */
.footer {
    text-align: center;
    color: #777;
    font-size: 10px;
    margin-top: 20px;
    padding-top: 6px;
    border-top: 1px solid #ccc;
}
